.modal-product-view {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1050;
  background-color: rgba(0,0,0,0.4);
}

.modal-dialog {
  max-width: 700px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 1em rgba(0,0,0,0.5);
}

.modal-content {
  padding: 30px;
}

img {
  max-width: 500px;
  max-height: 600px;
}

.description {
  margin-top: 20px;
  margin-bottom: 20px;
}

.modal-header, .modal-footer {
  justify-content: space-between;
}

button.btn-close {
  margin-left: 5px;
}

u {
  font-size: 16px;
}
