.title-category {
  margin-top: 150px;
  font-size: 30px;
}

a {
color: #000;
cursor: pointer;
}

.card-product{
  display: flex;
  flex-direction: row;
}

hr {
width: 178px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content:end;
}

.card.mb-2 {
  width: 80px;
  height: 80px;

}
