<div class="containe">
	<div class=" row ">
		<div class="col">
			<div class="card mb-2">
				<div class="d-flex position-relative">
					<a class="btn" class="position-absolute top-0 end-0" (click)="handleClickProduct(product)">Aperçu</a>
					<a [routerLink]="['product', product?.slug]">
						<img [src]="product ? product.imageUrl[0] : ''" class="card-img-top" [alt]="product?.name">
						<div class="card-body">
							<h6 class="card-title"> <strong> {{ product?.name?.substring(0,35) }}
								{{ product && product.name[36] ? "..." : null}}</strong></h6>
							<p>Categorie :
								{{product ? product.category[0] : null}}
								/
								{{product ? product.category[1] : null}}
							</p>
							<h4 class="text-end">{{product?.price | currency :'EUR':'symbol':'1.2-2'}}</h4>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>


